<html>
  <head>
    <title>PeepMouse: watch other people's pointer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="/javascript.js"></script>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
     <h1>PeepMouse: watch other people's pointer</h1>
     <div id="msgs"></div>
     <div class="pointer"></div>
  </body>
</html>